<div style="width: 80%; padding: 2%; background-color: rgba(32,33,36);">

    <div id="loading-indicator" style="display: none; color: aliceblue; text-align: center; padding: 20px;">
        <h2>טוען נתונים, אנא המתן...</h2>
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <h1 style="color: aliceblue;">Database</h1>

    <label for="filter" style="color: aliceblue;"><b><h4>Filter by ID:</h4></b></label>
    
    <input class="col-2" type="number" id="filter" placeholder="טוען..." min="0" max="6" disabled>
    <table class="table table-striped table-dark" id="table">
        <thead id="trbody"></thead>
        <tbody id="dataTableBody"></tbody>
    </table>

</div>